<section class="forms">
    <div class="container-fluid">
        <!-- Page Header-->
        <header>
            <h1 class="h3 display">Forms </h1>
        </header>
        <div class="row">

            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header d-flex align-items-center">
                        <h4>Agents</h4>
                    </div>
                    <div class="card-body">
                        <form class="form-horizontal" [formGroup]="agentForm">
                            <div class=row>
                                <input type="text" formControlName="BusinessId" hidden>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-2 form-control-label">Code</label>
                                        <div class="col-sm-10">
                                            <input type="text" formControlName="Code" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="col-sm-4 form-control-label">Flight APIs</label>
                                    <div class="col-sm-10">
                                        <div>
                                            <input id="checkboxCustom1" type="checkbox" value=""
                                                class="form-control-custom">
                                            <label for="checkboxCustom1">Regent</label>
                                            &nbsp;
                                            <input id="checkboxCustom2" type="checkbox" value="" checked=""
                                                class="form-control-custom">
                                            <label for="checkboxCustom2">Novo</label>
                                            &nbsp;
                                            <input id="checkboxCustom3" type="checkbox" value="" checked=""
                                                class="form-control-custom">
                                            <label for="checkboxCustom3">Galileo</label>
                                            &nbsp;
                                            <input id="checkboxCustom4" type="checkbox" value="" checked=""
                                                class="form-control-custom">
                                            <label for="checkboxCustom4">USB-S</label>
                                            &nbsp;
                                            <input id="checkboxCustom5" type="checkbox" value="" checked=""
                                                class="form-control-custom">
                                            <label for="checkboxCustom5">Indigo</label>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class=row>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-2 form-control-label">Name</label>
                                        <div class="col-sm-10">
                                            <input type="text" formControlName="Name" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="col-sm-4 form-control-label">Agent Type</label>
                                    <div class="col-sm-10">
                                        <div>
                                            <input id="radioCust1" type="radio" value="radioCust1" name="a"
                                                class="form-control-custom radio-custom" checked="">
                                            <label for="radioCust1">B2B</label>

                                            &nbsp;

                                            <input id="radioCust2" type="radio" value="radioCust2" name="a"
                                                class="form-control-custom radio-custom">
                                            <label for="radioCust2">B2C</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=row>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-2 form-control-label">Markup Plan</label>
                                        <div class="col-sm-10 mb-3">
                                            <select name="account" formControlName="SMTPPort" class="form-control">
                                                <option value="1">HT Agent and Transaction above 15 Lac </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="col-sm-4 form-control-label">Status</label>
                                    <div class="col-sm-10">

                                        <!-- <input id="radioCustom1" type="radio" value="1" name="Status"
                                                    class="form-control-custom radio-custom" formControlName="Status">
                                                <label for="radioCustom1">New</label>
                                            
                                            &nbsp;
                                           -->
                                        <input id="radioCustom2" type="radio" value="2" name="Status"
                                            class="form-control-custom radio-custom" checked=""
                                            formControlName="Status">
                                        <label for="radioCustom2">Active</label>
                                        &nbsp;

                                        <input id="radioCustom3" type="radio" value="3" name="Status"
                                            class="form-control-custom radio-custom" formControlName="Status">
                                        <label for="radioCustom3">Inactive</label>
                                        <!-- &nbsp;
                                          
                                                    <input id="radioCustom4" type="radio" value="4" name="Status"
                                                        class="form-control-custom radio-custom" formControlName="Status">
                                                    <label for="radioCustom4">Locked</label> -->

                                    </div>
                                </div>
                            </div>

                            <div class=row>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-2 form-control-label">Email</label>
                                        <div class="col-sm-10">
                                            <input type="text" formControlName="Email" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6"></div>
                            </div>

                            <div class=row>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-2 form-control-label">Mobile</label>
                                        <div class="col-sm-10">
                                            <input type="text" formControlName="Mobile" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6"></div>
                            </div>

                            <div class=row>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-2 form-control-label">Phone</label>
                                        <div class="col-sm-10">
                                            <input type="text" formControlName="Phone" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6"></div>
                            </div>

                            <div class=row>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-2 form-control-label">Address</label>
                                        <div class="col-sm-10">
                                            <input type="text" formControlName="Street" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6"></div>
                            </div>

                            <div class=row>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-2 form-control-label">City</label>
                                        <div class="col-sm-10">
                                            <input type="text" formControlName="City" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6"></div>
                            </div>

                            <div class=row>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-2 form-control-label">State</label>
                                        <div class="col-sm-10">
                                            <input type="text" formControlName="State" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6"></div>
                            </div>

                            <div class=row>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-2 form-control-label">Post Code</label>
                                        <div class="col-sm-10">
                                            <input type="text" formControlName="Zip" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6"></div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4 offset-sm-2">
                                    <button type="reset" class="btn btn-secondary">Cancel</button>
                                    &nbsp; <button type="submit" [disabled]="!agentForm.valid" (click)="save()" class="btn btn-primary">Save
                                        changes</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>