    <section>
        <div class="container-fluid">
            <!-- Page Header-->
            <header>
                <h1 class="h3 display">Tables </h1>
            </header>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Agent List</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Joined On</th>
                                            <th>Name</th>
                                            <th>Code</th>
                                            <th>Markup Plan</th>
                                            <th>Mobile</th>
                                            <th>Email</th>
                                            <th>Balance</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngFor="let obj of listAgents" >
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>{{obj.createdOnUtc}}</td>
                                            <td>{{obj.name}}</td>
                                            <td>{{obj.code}}</td>
                                            <td>{{obj.smtpPort == 1 ? "HT Agent and Transaction above 15 Lac":""}}</td>
                                            <td>{{obj.mobile}}</td>
                                            <td>{{obj.email}}</td>
                                            <td>{{obj.currentBalance}}</td>
                                          
                                            <td>
                                                <button type="submit" class="btn btn-info" (click)="edit(obj.businessId)">Edit</button>
                                                &nbsp;<button type="submit" class="btn btn-warning" (click)="delete(obj.businessId)">Delete</button>
                                            </td>
                                        </tr>
                                     
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
